<?xml version="1.0"?>
<columns>
  <add key= "单号" value="FBillNo" />
  <add key= "支付用户" value="FPayUser" />
  <add key= "酒类"  value="FInvName"/>
  <add key= "商铺名"  value="FCustomer"/>
  <add key= "设备号"  value="FDeviceNo"/>
  <add key= "代理"  value="FAgent"/>
  <add key= "所属代理"  value="FAgentCode"/>
  <add key= "省市区"  value="FAddress"/>
  <add key= "代理类型"  value="FAgentType"/>
  <add key= "规格两"  value="FSpecification"/>
  <add key= "优惠券"  value="FCoupon"/>
  <add key= "实付金额"  value="FAmount"/>
  <add key= "酒水销售"  value="FSellAmount"/>
  <add key= "店员奖励"  value="FStaffReward"/>
  <add key= "个人代理分成"  value="FPersonalAgent"/>
  <add key= "区县合伙人分成"  value="FPartner"/>
  <add key= "额外区县合伙人分成"  value="FAdditionalPartner"/>
  <add key= "订单状态"  value="FOrderStatus"/>
  <add key= "订单日期"  value="FOrderDate"/>
  <add key= "备注"  value="FMemo"/>
  <add key= "实际出酒ml"  value="FQuantity"/>
</columns>